source .venv/bin/activate
unset PS1

export DBT_PROFILES_DIR=$PWD/dbt_profile

export JIRA_CONFIG=$(shortcuts run "Jira Auth")
export GMAIL_CONFIG=$(jo \
  authorization="Bearer $(oauth2l fetch --scope=gmail.modify)" \
  base_url=https://gmail.googleapis.com/gmail/v1/users/me
)

